<a href="https://colab.research.google.com/github/Shangggggg/Krisha_10/blob/main/Untitled19.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [2]:
import numpy as np

In [3]:
df=pd.read_csv("https://raw.githubusercontent.com/Shangggggg/Krisha_10/main/shanghai_ranking_2024.csv")

In [4]:
print(df.head())

  Rank                              University_Name National/Regional Rank  \
0    1                           Harvard University                      1
1    2                          Stanford University                      2
2    3  Massachusetts Institute of Technology (MIT)                      3
3    4                      University of Cambridge                      1
4    5           University of California, Berkeley                      4

   Alumni  Award   Hici    N&S    PUB   PCP
0   100.0   97.1  100.0  100.0  100.0  85.7
1    45.3   88.1   73.1   83.9   73.1  59.6
2    71.9   82.8   55.2   70.8   59.1  73.6
3    78.2   90.8   45.1   59.8   67.2  60.6
4    65.3   76.5   46.9   62.8   57.1  55.5

In [5]:
print(df.shape)

(1000, 9)

In [6]:
print(df.dtypes)

Rank                       object
University_Name            object
National/Regional Rank     object
Alumni                    float64
Award                     float64
Hici                      float64
N&S                       float64
PUB                       float64
PCP                       float64
dtype: object

In [7]:
print(df.isnull().sum())

Rank                       0
University_Name            0
National/Regional Rank     0
Alumni                     0
Award                      0
Hici                       0
N&S                       11
PUB                        0
PCP                        0
dtype: int64

In [8]:
df=df.drop_duplicates()

In [9]:
print(df.shape)

(1000, 9)

In [11]:
df['Alumni']= df['Alumni'].astype(int)

In [12]:
df['Award']= df['Award'].astype(int)

In [15]:
df['PUB']= df['PUB'].astype(int)

In [13]:
df['Hici']= df['Hici'].astype(int)

In [16]:
print(df.dtypes)

Rank                       object
University_Name            object
National/Regional Rank     object
Alumni                      int64
Award                       int64
Hici                        int64
N&S                       float64
PUB                         int64
PCP                       float64
dtype: object

In [17]:
from sklearn.preprocessing import MinMaxScaler, StandardScaler

In [29]:
scaler=MinMaxScaler()

In [30]:
df[['Alumni', 'Award', 'PUB']] = scaler.fit_transform(df[['Alumni', 'Award', 'PUB']])

In [26]:
print(df[['Alumni','Award','PUB']].head())

   Alumni  Award  PUB
0     100     97  100
1      45     88   73
2      71     82   59
3      78     90   67
4      65     76   57

In [27]:
df=df[df['Alumni'] <= 10000]

In [28]:
print(df.shape)

(1000, 9)